div {
  max-width: 430rem;
  margin: 3rem auto;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(135deg, #1d313a, #b4cbdb);
  border-radius: 2rem;
  box-shadow: 0 0.15rem 0.4rem rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 2.5rem;
  color: #72e0e0;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}

p {
  font-size: 1.2rem;
  color: #546e7a;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

select {
  background-color: #b2ebf2;
  color: #37474f;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #80deea;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  outline: none;
  border-color: #26c6da;
  box-shadow: 0 0 8px rgba(38, 198, 218, 0.2);
  background-color: #e0f7fa;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #c9e3fc;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: #1e6469;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

li:hover {
  background-color: #72e0e0;
  transform: scale(1.03);
}

button {
  background: linear-gradient(135deg, #26a69a, #80cbc4);
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background: #26a69a;
  color: #ffffff;
  transform: scale(1.05);
}

input[type="text"] {
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.125rem solid #cfd8dc;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  width: 60%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #80cbc4;
  box-shadow: 0 0 5px rgba(128, 203, 196, 0.3);
}

input:focus {
  border-color: #26a69a;
  background-color: #e0f2f1;
  color: #26a69a;
}

.filtros {
  margin-bottom: 20px;
}

.filtro-btn {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #4d9092;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

.filtro-btn:hover {
  background-color: #92dbe0;
  transform: scale(1.05);
}

.filtro-btn.ativo {
  background-color: #053f8b;
  color: white;
}

@media (max-width: 37.5rem) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
  }
}
